{% extends 'main/base.html' %}

{% block content %}
<h1>Articles with the corespondent sentiment</h1>
<br></br>
<a href="/positive"><btn class="btn btn-success">Sort by Positive</btn></a>
<a href="/negative"><btn class="btn btn-success">Sort by Negative</btn></a>
    
    <br></br>

    <table class="table table-striped">
        <tr>
            <th scope="col">Article headline</th>
            <th scope="col">Sentiment</th>
        </tr>
        {% for headline, sentiment, url in articles %}
            <tr>
            <th scope="row"><a href="{{url}}" >{{headline}}</a></th>
            <td>{{ sentiment }}</td> 
            </tr>
        {% endfor %}
    <table>

{% endblock %}